body {
  background-color: #F5F5F5 !important;
}

:root {
  --primary-c: #193767;
  --secondary-c: #515151
}

.classSearch {
  width: 50%;
  /* margin: 50px; */
  display: block;
  display: none;
}

#main {
  padding-top: 10px;
}

#advantages {
  margin-top: 30px;
}

h2 {
  font-weight: bold;
}

.call, .call:visited, .call:link {
  font-weight: bold;
  font-style: italic;
  color: var(--primary-c);
}

.extragraphdiv {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 12px;
  margin-bottom: 20px;
}

.fit {
  width: 85%;
  margin: 0 auto;
}

.white {
  background-color: white;
}