body {
  background-color: #fff !important;
}

:root {
  --primary-c: #193767;
  --secondary-c: #515151
}

.classSearch {
  width: 80%;
  margin: 0 auto;
  display: block;
}

#main {
  padding-top: 10px;
}

#advantages {
  margin-top: 30px;
}

h2 {
  font-weight: bold;
}

.call, .call:visited, .call:link {
  font-weight: bold;
  font-style: italic;
  color: var(--primary-c);
}

.extragraphdiv {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 12px;
  margin-bottom: 20px;
}

.fit {
  width: 85%;
  margin: 0 auto;
}

.white {
  background-color: white;
}

#bigsearchbar {
  margin-left: 20px;
  margin-right: 20px;
}

#inlineFormInputGroup {
  width: 100%;
  display: none;
}

.nodisplay {
  display: none !important;
}

.selectize-control.multi {
  width: 100%;
}

.selectize-control.single {
  width: 100%;
}

.selectize-input { white-space: nowrap !important; }