.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: #ccc;
}

#intro {
  padding-top: 25px;
}

/* Style the tab content */

.tabcontent {
  /* display: none; */
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0px 0px 3px 3px;
}

#tables {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #f1f1f1;
  color: #888 !important;
}

.classSearch {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.stattable td:last-child {
  font-weight: bold;
  padding-left: 10px;
}

.stattable td {
  text-align: right;
}

.infotable {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.extragraphdiv {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 12px;
  /* height: 200vh; */
  margin-bottom: 20px;
}

.nodisplay {
  display: none !important;
}

.selectize-input {
  white-space: nowrap !important;
}

/* .squishedGraph {
  height:500px !important;
  width: 100% !important;
}
 */

@media only screen and (max-width: 600px) {
  .classSearch {
    width: 100%;
  }
}